<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -->
<div
  class="flex-1 w-full relative min-h-60 map-container"
  tabindex="-1"
  #mapContainer
>
  <ng-container *ngComponentOutlet="Map()"></ng-container>
</div>

<div class="min-h-31 flex flex-col justify-end items-center gap-3">
  @if (state(); as _stateValue) {
  <div
    class="flex flex-wrap gap-3 justify-center items-center min-h-8 text-xl sm:text-2xl"
  >
    @for (prevFieldValue of _stateValue.prevFieldValues; track $index) {
    <span class="wrap-anywhere"> {{ prevFieldValue }} </span>
    }
  </div>

  <div class="flex justify-center items-end gap-3 min-h-13">
    <button type="button" (click)="state.set(_stateValue.reset())">
      <geo-arrow-clockwise-icon />
    </button>
    <input
      type="text"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
      [class]="
        'grow max-w-sm outline-none self-end ' +
        'text-xl sm:text-3xl text-center leading-normal -mb-1 '
      "
      [value]="_stateValue.text"
      (input)="state.set(_stateValue.next($any($event.target).value))"
      #inputEl
    />
    <button type="button" (click)="state.set(_stateValue.help())">
      <geo-patch-question-icon />
    </button>
  </div>
  <geo-level-progress
    class="w-full max-w-sm"
    [current]="_stateValue.itemIndex + 1"
    [total]="_stateValue.items.length"
  />
  }
</div>
