<app-exercice-layout>
  <app-exercice-progress-bar [progressPercent]="progressPercent()" />
  <div id="map-container" class="flex-1 relative" #mapContainerRef>
    <ng-container *ngComponentOutlet="Map()"></ng-container>
  </div>
  <div class="min-h-48 flex flex-col gap-4 justify-around py-6">
    @if (isClientSide) {
    <app-exercice-level-picker
      [level]="2"
      (levelChange)="levelChange.emit($event)"
    />
    <div class="flex flex-col gap-4 items-stretch">
      <app-exercice-info [state]="state()" />
      <app-exercice-input [(state)]="state" showHelpBtn />
    </div>
    }
  </div>
</app-exercice-layout>
