<main class="h-screen flex flex-col min-h-[28rem]">
  <div
    class="h-1.5 bg-amber-700 transition-all"
    [style.width]="progressPercent() + '%'"
  ></div>
  <div id="map-container" class="flex-1 relative" #mapContainerEl>
    <app-usa-state-map
      className="absolute top-0 left-0 w-full h-full stroke-gray-800 fill-white"
    ></app-usa-state-map>
  </div>
  <div class="p-6 flex flex-col gap-4 justify-around items-center min-h-34">
    @if (isClientSide) {
    <div class="w-full flex items-center gap-8 h-8">
      <span
        class="flex-1 text-right text-2xl"
        [class.font-bold]="step().field === 'state'"
      >
        @if (step().showHint || step().field !== 'state') {
        {{currentState().state}} } @else { {{subtextValid()}} }
      </span>
      <span
        class="flex-1 text-left text-2xl"
        [class.font-bold]="step().field === 'capital'"
      >
        @if (step().showHint) { {{currentState().capital}} } @else if
        (step().field === 'capital') { {{subtextValid()}} }
      </span>
    </div>
    <input
      type="text"
      [class]="
        'py-1 border-b-2 border-black outline-none ' + 
        'text-center w-full max-w-80 text-3xl font-bold'
      "
      [value]="text()"
      (input)="text.set($any($event.target).value)"
      #inputEl
    />
    }
  </div>
</main>
