<main class="h-screen flex flex-col min-h-[28rem]">
  <div
    class="h-1.5 bg-amber-700 transition-all"
    [style.width]="progressPercent() + '%'"
  ></div>
  <div id="map-container" class="flex-1 relative" #mapContainerRef>
    <ng-container *ngComponentOutlet="Map(); inputs: mapInputs;"></ng-container>
  </div>
  <div class="min-h-36 flex flex-col gap-4 justify-around p-6">
    @if(isClientSide) {
    <app-exercice-level-1
      [fields]="fields()"
      [data]="data()"
      [mapContainerEl]="mapContainerEl()"
      (onProgressPercentChange)="progressPercent.set($event)"
    />
    }
  </div>
</main>
