<main class="h-screen flex flex-col min-h-[28rem]">
  <div
    class="h-1.5 bg-amber-700 transition-all"
    [style.width]="progressPercent() + '%'"
  ></div>
  <div id="map-container" class="flex-1 relative" #mapContainerRef>
    <ng-container *ngComponentOutlet="Map(); inputs: mapInputs;"></ng-container>
  </div>
  <div class="flex justify-center items-center gap-8 py-1">
    @for (lvl of levels; track lvl) {
    <button type="button" class="cursor-pointer" (click)="level.set(lvl)">
      <ng-container
        *ngComponentOutlet="level() === lvl ? levelFillIcons[lvl] : levelIcons[lvl]; 
                            inputs: iconInputs"
      />
    </button>
    }
  </div>
  <div class="min-h-36 flex flex-col gap-4 justify-around p-6">
    @if(isClientSide) { @if (level() === 1) {
    <app-exercice-level-1
      [fields]="fields()"
      [data]="data()"
      [mapContainerEl]="mapContainerEl()"
      (onProgressPercentChange)="progressPercent.set($event)"
    />
    } @if (level() === 2) {
    <app-exercice-level-2
      [fields]="fields()"
      [data]="data()"
      [mapContainerEl]="mapContainerEl()"
      (onProgressPercentChange)="progressPercent.set($event)"
    />
    } @if (level() === 3) {
    <app-exercice-level-3
      [fields]="fields()"
      [data]="data()"
      [mapContainerEl]="mapContainerEl()"
      (onProgressPercentChange)="progressPercent.set($event)"
    />
    } }
  </div>
</main>
