<div class="flex flex-col gap-3">
  <div
    class="flex flex-wrap justify-center items-center min-h-10 gap-3 sm:gap-6 text-xl sm:text-3xl"
  >
    @if (item(); as _item) { @for (field of fields(); track field) {
    <span class="wrap-anywhere"> {{ _item[field] }} </span>
    }}
  </div>

  <div class="flex justify-center items-center gap-5">
    <button type="button" (click)="previousItem()">
      <geo-caret-left-fill-icon />
    </button>
    <button
      type="button"
      [class]="'relative overflow-hidden flex items-center justify-center ' + 
      'px-2 py-2 border-2 border-black rounded-full'"
      (click)="togglePlayStopState()"
    >
      @if (playStopState() === 'play') {
      <div #playOverlay class="absolute top-0 left-0 h-full bg-blue-600"></div>
      <geo-stop-icon class="z-10" />
      } @else {
      <geo-play-icon class="z-10" />
      }
    </button>
    <button type="button" (click)="nextItem()">
      <geo-caret-right-fill-icon />
    </button>
  </div>
</div>
