<header class="border-b-2 border-gray-300 flex items-center">
  <a
    routerLink="/"
    class="pl-1 pr-2.5 py-2.5 bg-blue-700/85 fill-white self-stretch flex items-center"
  >
    <geo-chevron-left-icon iconClass="w-5 h-5"></geo-chevron-left-icon>
  </a>
  <div class="text-sm text-black tracking-wider px-4">{{ title()}}</div>
</header>

<div class="min-h-dvh h-0 flex flex-col py-2 gap-5">
  <geo-level-picker
    [level]="level()"
    (levelChange)="onLevelChange($event)"
  ></geo-level-picker>

  @if(level() === 1) {
  <geo-level1
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level1>
  } @if (level() === 2) {
  <geo-level2
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level2>
  } @if (level() === 3) {
  <geo-level3
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level3>
  }
</div>
