<div class="min-h-dvh h-0 flex flex-col py-2 gap-5">
  <geo-level-picker
    [level]="level()"
    (levelChange)="onLevelChange($event)"
  ></geo-level-picker>

  @if(level() === 1) {
  <geo-level1
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level1>
  } @if (level() === 2) {
  <geo-level2
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level2>
  } @if (level() === 3) {
  <geo-level3
    class="flex-1 flex flex-col gap-3"
    [Map]="Map()"
    [data]="data()"
    [fields]="fields()"
  ></geo-level3>
  }
</div>
