@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import "tailwindcss";

@theme {  
  --font-inter: "Inter", "sans-serif"; 
  --font-montserrat: "Montserrat", "sans-serif"; 
  --font-pangolin: "Pangolin", cursive;
}

@layer base {
  button {
    cursor: pointer;
  }

  path.highlighted, g.highlighted {
    fill: var(--color-blue-200);
  }

  path.selected, g.selected {
    fill: var(--color-blue-600);
  }
}

@layer components {
  .map-container svg {
    @apply absolute top-0 left-0 w-full h-full fill-white stroke-gray-800;
  }

  .map-container.clickable path[id], .map-container.clickable g[id] {
    @apply cursor-pointer;
  }
}
