@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import "tailwindcss";

@theme {  
  --font-inter: "Inter", "sans-serif"; 
  --font-montserrat: "Montserrat", "sans-serif"; 
  --font-pangolin: "Pangolin", cursive;
  
  --animate-push: push 700ms ease-out;

  @keyframes push {
    from {
      scale: 1;
    }
    50% {
      scale: 0.90;
    }
    to {
      scale: 1;   
    }
  }
}

:root {
  --color-exercice-level-1: var(--color-yellow-500);
  --color-exercice-level-2: var(--color-amber-600);
  --color-exercice-level-3: var(--color-red-700);
}

path.selected, g.selected {
  fill: var(--color-exercice);
}
